body {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	background: url(../images/img1.jpg) repeat left top;
}

form {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

body, th, td, input, textarea, select {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #828282;
}

p, blockquote, ul, ol, dl {
	margin-top: 0px;
	margin-bottom: 1em;
	text-align: justify;
}

.text1 {
	padding: 30px 0px 0px 10px;
	letter-spacing: -3px;
	text-transform: lowercase;
	font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 34px;
	color: #FFFFFF;
}

.text2 {
	color: #06673A;
}

.text3 {
	padding: 45px 0px 0px 3px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

.text4 {
	padding-left: 10px;
	background: url(../images/img6.gif) no-repeat left center;
	font-size: 11px;
	font-weight: bold;
	color: #4D886C;
}

a {
	color: #1EA969;
}

a:hover {
	text-decoration: none;
}

.style1 {
	text-align: center;
	color: #8EB1A1;
}

.style1 a {
	color: #31AD74;
	text-decoration: none;
}

.style1 a:hover {
}

.list1 {
	padding-right: 20px;
	text-align: right;
	margin-left: 0px;
	list-style: none;
	line-height: 22px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
}

.list1 li {
	padding: 5px 0px 5px 10px;
}

.list1 a {
	background: url(../images/img7.gif) no-repeat right center;
	text-decoration: none;
	padding-right: 15px;
	color: #A1A1A1;
}

.list2 {
	margin-left: 0px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
}

.list2 a {
	color: #1EA969;
}

.bg1 {
	background: url(../images/img4.jpg) repeat-y left top;
}

.bg2 {
	background: url(../images/img5.gif) repeat-y right top;
}

.align-justify { text-align: justify; }
.align-right { text-align: right; }

img { border: none; }

.img1 {
	float: left;
	margin: 3px 15px 0px 0px;
}

.img2 {
	float: right;
	margin: 3px 0px 0px 15px;
}


