<table width="620" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td width="180">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td><img src="../images/spacer.gif" alt="" width="50" height="60" /></td>
	</tr>
	<tr>
	  <td align="right" class="bg2">

	    <%= render 'layouts/navigation' %>

	  </td>
	</tr>
      </table>
    </td>
    <td width="50">&nbsp;</td>
    <td width="340">
      
      <%= @user.name %>, <%= @user.email %>

    </td>
    <td width="50">&nbsp;</td>
  </tr>
</table>
