<table width="620" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td width="180">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td><img src="../images/spacer.gif" alt="" width="50" height="60" /></td>
	</tr>
	<tr>
	  <td align="right" class="bg2">

	    <%= render 'layouts/navigation' %>

	  </td>
	</tr>
      </table>
    </td>
    <td width="50">&nbsp;</td>
    <td width="340">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
	  <td>
	    <p class="text4"><a color="#1EA969" href="#">weather alerts</a></p>
	    <p><a href="#"><img src="../images/index.jpg" alt="" width="123"
				      height="79" class="img1" /></a> 
	      <br />  get weather forecast
	    </p>
            <p>&nbsp;</p>
	    <br /> 
            <p>&nbsp;</p>
	    <p class="text4"><a href="#">river level alerts</a></p>
	    <p><a href="#"><img src="../images/river.jpg" alt="" width="123"
				    height="79" class="img1" /></a>
	      <br /> current river levels
	    </p>
            <p>&nbsp;</p>
	    <br /> 
	    <p>&nbsp;</p>
	    <p class="text4"><a href="#">snow fall alerts</a></p>
	    <p><a href="#"><img src="../images/snow.jpg" alt="" width="123"
				   height="79" class="img1" /></a>
	      get snow fall reports.
	      <br />
	    </p>
	  </td>
	</tr>
	<tr><td>&nbsp;</td></tr>
      </table>
    </td>
    <td width="50">&nbsp;</td>
  </tr>
</table>
