<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Daily Harbinger | <%= @title %></title>
<%= csrf_meta_tag %>
<meta name="keywords" content="" />
<meta name="description" content="" />

<%= stylesheet_link_tag "default" %>

</head>
<body>
<table width="620" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="height: 86px;">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
 	  <td width="34%" class="text1">daily<span class="text2">harbinger</span></td>
	  <td width="66%" class="text3">keeping you up to date with the days <u>most</u> important events</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><img src="../images/img2.jpg" alt="" width="620" height="40" /></td>
  </tr>
  <tr>
    <td class="bg1">

      <%= yield %>

   </td>
  </tr>
  <tr>
    <td><img src="../images/img3.jpg" alt="" width="620" height="40"/></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td class="style1">copyright © 2010 dailyharbinger.com</td></tr>
</table>

</body>
</html>

